USE [master]
GO
/****** Object:  Database [QLCuaHangTT]    Script Date: 14/12/2023 22:11:53 ******/
CREATE DATABASE [QLCuaHangTT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCuaHangTT', FILENAME = N'D:\Nhom18_PTUD_DoAn\QLThoiTrang\sql\QLCHTT_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCuaHangTT_log', FILENAME = N'D:\Nhom18_PTUD_DoAn\QLThoiTrang\sql\QLCHTT_LOG.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCuaHangTT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCuaHangTT]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 14/12/2023 22:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[MACHATLIEU] [nvarchar](8) NOT NULL,
	[CHATLIEU] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHATLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 14/12/2023 22:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MAHD] [varchar](8) NOT NULL,
	[MAQUANAO] [varchar](8) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDatHang]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDatHang](
	[MAPHIEUDAT] [varchar](8) NOT NULL,
	[MAQUANAO] [varchar](8) NOT NULL,
	[SOLUONG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [varchar](8) NOT NULL,
	[MAKH] [varchar](8) NOT NULL,
	[MANV] [varchar](8) NOT NULL,
	[NGAYLAPHD] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [varchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MAKM] [varchar](8) NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[MUCGIAMGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichCo]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCo](
	[MAKICHCO] [nvarchar](8) NOT NULL,
	[KICHCO] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKICHCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiQuanAo]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiQuanAo](
	[MALOAI] [nvarchar](8) NOT NULL,
	[LOAI] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MAMAUSAC] [nvarchar](8) NOT NULL,
	[MAUSAC] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMAUSAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MANCC] [varchar](8) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [varchar](8) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatHang]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatHang](
	[MAPHIEUDAT] [varchar](8) NOT NULL,
	[MAKH] [varchar](8) NOT NULL,
	[MANV] [varchar](8) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanAo]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanAo](
	[MAQUANAO] [varchar](8) NOT NULL,
	[TENQUANAO] [nvarchar](50) NOT NULL,
	[HINHANH] [nvarchar](100) NOT NULL,
	[MAMAUSAC] [nvarchar](8) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MATHUONGHIEU] [nvarchar](8) NOT NULL,
	[MACHATLIEU] [nvarchar](8) NOT NULL,
	[MAKICHCO] [nvarchar](8) NOT NULL,
	[MALOAI] [nvarchar](8) NOT NULL,
	[MANCC] [varchar](8) NOT NULL,
	[DONGIABAN] [float] NOT NULL,
	[MAKM] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUANAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MADANGNHAP] [varchar](8) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[PHANQUYEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MATHUONGHIEU] [nvarchar](8) NOT NULL,
	[THUONGHIEU] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChatLieu] ([MACHATLIEU], [CHATLIEU]) VALUES (N'CL000001', N'Cotton')
INSERT [dbo].[ChatLieu] ([MACHATLIEU], [CHATLIEU]) VALUES (N'CL000002', N'Vải Nỉ')
INSERT [dbo].[ChatLieu] ([MACHATLIEU], [CHATLIEU]) VALUES (N'CL000003', N'Vải gió dù')
GO
INSERT [dbo].[ChiTietHoaDon] ([MAHD], [MAQUANAO], [SOLUONG], [DONGIA]) VALUES (N'HD000001', N'QA000001', 1, 110000)
INSERT [dbo].[ChiTietHoaDon] ([MAHD], [MAQUANAO], [SOLUONG], [DONGIA]) VALUES (N'HD000002', N'QA000002', 1, 220000)
INSERT [dbo].[ChiTietHoaDon] ([MAHD], [MAQUANAO], [SOLUONG], [DONGIA]) VALUES (N'HD000003', N'QA000003', 1, 220000)
GO
INSERT [dbo].[ChiTietPhieuDatHang] ([MAPHIEUDAT], [MAQUANAO], [SOLUONG]) VALUES (N'PDH00001', N'QA000001', 1)
INSERT [dbo].[ChiTietPhieuDatHang] ([MAPHIEUDAT], [MAQUANAO], [SOLUONG]) VALUES (N'PDH00002', N'QA000002', 1)
INSERT [dbo].[ChiTietPhieuDatHang] ([MAPHIEUDAT], [MAQUANAO], [SOLUONG]) VALUES (N'PDH00003', N'QA000003', 1)
GO
INSERT [dbo].[HoaDon] ([MAHD], [MAKH], [MANV], [NGAYLAPHD]) VALUES (N'HD000001', N'KH000001', N'21078921', CAST(N'2023-10-29' AS Date))
INSERT [dbo].[HoaDon] ([MAHD], [MAKH], [MANV], [NGAYLAPHD]) VALUES (N'HD000002', N'KH000002', N'12345678', CAST(N'2023-10-30' AS Date))
INSERT [dbo].[HoaDon] ([MAHD], [MAKH], [MANV], [NGAYLAPHD]) VALUES (N'HD000003', N'KH000003', N'21078921', CAST(N'2023-10-30' AS Date))
GO
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [GIOITINH], [EMAIL]) VALUES (N'KH000001', N'Công Hiếu', N'0866675265', 1, N'conghieu@gmail.com')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [GIOITINH], [EMAIL]) VALUES (N'KH000002', N'Đinh Hoàng Chiến', N'0917798113', 1, N'dinhlemy@gmail.com')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [GIOITINH], [EMAIL]) VALUES (N'KH000003', N'Đan Mỹ Chi', N'0925197741', 0, N'danmychi@gmail.com')
GO
INSERT [dbo].[KhuyenMai] ([MAKM], [NGAYBATDAU], [NGAYKETTHUC], [MUCGIAMGIA]) VALUES (N'KM000000', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-07' AS Date), 0)
INSERT [dbo].[KhuyenMai] ([MAKM], [NGAYBATDAU], [NGAYKETTHUC], [MUCGIAMGIA]) VALUES (N'KM000001', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-07' AS Date), 10)
INSERT [dbo].[KhuyenMai] ([MAKM], [NGAYBATDAU], [NGAYKETTHUC], [MUCGIAMGIA]) VALUES (N'KM000002', CAST(N'2023-05-10' AS Date), CAST(N'2023-05-15' AS Date), 20)
GO
INSERT [dbo].[KichCo] ([MAKICHCO], [KICHCO]) VALUES (N'KC000001', N'S')
INSERT [dbo].[KichCo] ([MAKICHCO], [KICHCO]) VALUES (N'KC000002', N'M')
INSERT [dbo].[KichCo] ([MAKICHCO], [KICHCO]) VALUES (N'KC000003', N'L')
GO
INSERT [dbo].[LoaiQuanAo] ([MALOAI], [LOAI]) VALUES (N'L0000001', N'Áo')
INSERT [dbo].[LoaiQuanAo] ([MALOAI], [LOAI]) VALUES (N'L0000002', N'Quần')
INSERT [dbo].[LoaiQuanAo] ([MALOAI], [LOAI]) VALUES (N'L0000003', N'Váy')
GO
INSERT [dbo].[MauSac] ([MAMAUSAC], [MAUSAC]) VALUES (N'MS000001', N'Trắng')
INSERT [dbo].[MauSac] ([MAMAUSAC], [MAUSAC]) VALUES (N'MS000002', N'Đen')
INSERT [dbo].[MauSac] ([MAMAUSAC], [MAUSAC]) VALUES (N'MS000003', N'Xanh')
GO
INSERT [dbo].[NhaCungCap] ([MANCC], [TENNCC], [SDT], [DIACHI], [EMAIL]) VALUES (N'NCC00001', N'Công Ty TNHH Gucci Việt Nam', N'0866523476', N'4 Nguyễn Văn Bảo,Phường 5, Quận Gò Vấp,TP.HCM', N'gucci@gmail.com')
INSERT [dbo].[NhaCungCap] ([MANCC], [TENNCC], [SDT], [DIACHI], [EMAIL]) VALUES (N'NCC00002', N'Công Ty TNHH May Mặc Châu Phát', N'0868358318', N'Đường Nguyễn Văn Ni, tổ 10, Khu phố 2, Thị Trấn Củ Chi, Huyện Củ Chi, Thành phố Hồ Chí Minh', N'chauphatct@gmail.com')
INSERT [dbo].[NhaCungCap] ([MANCC], [TENNCC], [SDT], [DIACHI], [EMAIL]) VALUES (N'NCC00003', N'Công ty TNHH May Khang Thịnh', N'0359891037', N'125/22 Bùi Quang Là, P 12,Q Gò Vấp,TP HCM', N'maymackhangthinh@gmail.com')
GO
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [EMAIL]) VALUES (N'11122233', N'Nguyễn Thanh Xuân', CAST(N'2003-03-18' AS Date), 1, N'0311234441', N'Hồ Chí Minh', N'xuannguyen12@gmail.com')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [EMAIL]) VALUES (N'12345678', N'Thu Thủy', CAST(N'2002-05-22' AS Date), 0, N'0826523271', N'Quảng Ngãi', N'thuibeusq@gmail.com')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [EMAIL]) VALUES (N'21026511', N'Ao Công Hiếu', CAST(N'2003-01-01' AS Date), 1, N'0866675276', N'Quảng Ngãi', N'conghieusq@gmail.com')
GO
INSERT [dbo].[PhieuDatHang] ([MAPHIEUDAT], [MAKH], [MANV], [NGAYDAT]) VALUES (N'PDH00001', N'KH000001', N'21078921', CAST(N'2023-10-29' AS Date))
INSERT [dbo].[PhieuDatHang] ([MAPHIEUDAT], [MAKH], [MANV], [NGAYDAT]) VALUES (N'PDH00002', N'KH000002', N'12345678', CAST(N'2023-10-30' AS Date))
INSERT [dbo].[PhieuDatHang] ([MAPHIEUDAT], [MAKH], [MANV], [NGAYDAT]) VALUES (N'PDH00003', N'KH000003', N'21078921', CAST(N'2023-10-30' AS Date))
GO
INSERT [dbo].[QuanAo] ([MAQUANAO], [TENQUANAO], [HINHANH], [MAMAUSAC], [SOLUONG], [MATHUONGHIEU], [MACHATLIEU], [MAKICHCO], [MALOAI], [MANCC], [DONGIABAN], [MAKM]) VALUES (N'QA000001', N'Áo Thun Gucci', N'aothunguccicotton.jpg', N'MS000002', 199, N'TH000002', N'CL000001', N'KC000002', N'L0000001', N'NCC00001', 100000, N'KM000004')
INSERT [dbo].[QuanAo] ([MAQUANAO], [TENQUANAO], [HINHANH], [MAMAUSAC], [SOLUONG], [MATHUONGHIEU], [MACHATLIEU], [MAKICHCO], [MALOAI], [MANCC], [DONGIABAN], [MAKM]) VALUES (N'QA000002', N'Áo Thun LV', N'ao-thunlvchinhhang.jpg', N'MS000001', 398, N'TH000001', N'CL000002', N'KC000003', N'L0000001', N'NCC00004', 200000, N'KM000005')
INSERT [dbo].[QuanAo] ([MAQUANAO], [TENQUANAO], [HINHANH], [MAMAUSAC], [SOLUONG], [MATHUONGHIEU], [MACHATLIEU], [MAKICHCO], [MALOAI], [MANCC], [DONGIABAN], [MAKM]) VALUES (N'QA000003', N'Quần Dài LV', N'quandaiLV.jpg', N'MS000002', 409, N'TH000001', N'CL000002', N'KC000002', N'L0000002', N'NCC00004', 200000, N'KM000001')
GO
INSERT [dbo].[TaiKhoan] ([MADANGNHAP], [MATKHAU], [PHANQUYEN]) VALUES (N'12345678', N'1111', N'NhanVienBanHang')
INSERT [dbo].[TaiKhoan] ([MADANGNHAP], [MATKHAU], [PHANQUYEN]) VALUES (N'21026511', N'01012003', N'NhanVienQuanLy')
INSERT [dbo].[TaiKhoan] ([MADANGNHAP], [MATKHAU], [PHANQUYEN]) VALUES (N'21078921', N'1111', N'NhanVienBanHang')
GO
INSERT [dbo].[ThuongHieu] ([MATHUONGHIEU], [THUONGHIEU]) VALUES (N'TH000001', N'LOUIS VUITTON')
INSERT [dbo].[ThuongHieu] ([MATHUONGHIEU], [THUONGHIEU]) VALUES (N'TH000002', N'GUCCI')
INSERT [dbo].[ThuongHieu] ([MATHUONGHIEU], [THUONGHIEU]) VALUES (N'TH000003', N'HERMES')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MAQUANAO])
REFERENCES [dbo].[QuanAo] ([MAQUANAO])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HoaDon] ([MAHD])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PhieuDatHang] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MAQUANAO])
REFERENCES [dbo].[QuanAo] ([MAQUANAO])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MACHATLIEU])
REFERENCES [dbo].[ChatLieu] ([MACHATLIEU])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MAKICHCO])
REFERENCES [dbo].[KichCo] ([MAKICHCO])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MAKM])
REFERENCES [dbo].[KhuyenMai] ([MAKM])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LoaiQuanAo] ([MALOAI])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MAMAUSAC])
REFERENCES [dbo].[MauSac] ([MAMAUSAC])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NhaCungCap] ([MANCC])
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD FOREIGN KEY([MATHUONGHIEU])
REFERENCES [dbo].[ThuongHieu] ([MATHUONGHIEU])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MADANGNHAP])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[GetOrderDetails]    Script Date: 14/12/2023 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrderDetails]
    @OrderID nvarchar(8)
AS
BEGIN
    SELECT
        QA.[MAQUANAO],
        QA.[TENQUANAO],
		CTPDH.[SOLUONG] AS 'SOLUONGDAT',
		CASE
			WHEN GETDATE() BETWEEN KM.NgayBatDau AND KM.NgayKetThuc THEN
				(QA.DONGIABAN + (0.1 * QA.DONGIABAN)) * (1 - (KM.MUCGIAMGIA/100))
			ELSE
				(QA.DONGIABAN + (0.1 * QA.DONGIABAN))
		END AS GIA,
		LQA.LOAI,
        MS.MAUSAC,
        TH.THUONGHIEU,
		KC.KICHCO,
        CL.CHATLIEU
    FROM
        [QLCuaHangTT].[dbo].[QuanAo] AS QA
    JOIN
        [QLCuaHangTT].[dbo].[ChiTietPhieuDatHang] AS CTPDH ON QA.[MAQUANAO] = CTPDH.[MAQUANAO]
	JOIN [QLCuaHangTT].[dbo].[LoaiQuanAo] AS LQA ON QA.[MALOAI] = LQA.MALOAI
	JOIN [QLCuaHangTT].[dbo].[MauSac] AS MS ON QA.MAMAUSAC = MS.MAMAUSAC
	JOIN  [QLCuaHangTT].[dbo].[ThuongHieu] AS TH ON QA.MATHUONGHIEU = TH.MATHUONGHIEU 
    JOIN [QLCuaHangTT].[dbo].[KichCo] AS KC ON QA.MAKICHCO = KC.MAKICHCO
	JOIN [QLCuaHangTT].[dbo].[ChatLieu] AS CL ON QA.MACHATLIEU = CL.MACHATLIEU
	JOIN [dbo].[KhuyenMai] AS KM ON QA.MAKM = KM.MAKM
	WHERE
        CTPDH.[MAPHIEUDAT] = @OrderID
END
Exec GetOrderDetails @OrderID = 'PDH00003'
GO
USE [master]
GO
